html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  padding: .5em 0 0;
  background-color: #d05c2e;
}

h1 {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  margin: 0;
  width: 40px;
}

ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav {
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  padding: .5em 0 0;
  margin: 0;
}

li {
  display: inline-block;
  float: left;
  width: 33.3333%;
  border-top: 1px solid #a63f38;
  border-right: 1px solid #a63f38;
  border-bottom: 1px solid #a63f38;
}

li:nth-child(3) {
  border-right: none;
}

a {
  color: #fff;
  text-decoration: none;
  padding: .4rem 0;
  display: block;
}

a:hover {
  background-color: #a63f38;
}
